.cell{
    height: 35px;
    width: 35px;
    border: white solid 1px;
    box-sizing: border-box;
    background: linear-gradient(-45deg, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
    &.flaged{
        background: linear-gradient(-45deg, #9a1e24 0%,#d82a41 50%,#ca2034 51%,#e87e8e 100%);
    }

    &.empty{
        background: linear-gradient(-45deg, #aaaaaa 0%,#bdbdbd 50%,#b7b7b7 51%,#d7d7d7 100%);
    }
}